{% extends 'base.html' %}

{% block header %}
Customers
{% endblock %}

{% block body %}

<!-- Citation for Modal
    # Citation for the following function:
    # Date: 10/10/2021 - 10/18/2021
    # Copied from /OR/ Adapted from /OR/ Based on: The idea of using modals came from the first two source urls. The
    last url is where the source code and how to implement modals comes from. The code used is variation of all sources
    and unique.
    # Source URL:
        - https://www.youtube.com/playlist?list=PLOkVupluCIjuPtTkhO6jmA76uQR994Wvi
        - https://stackoverflow.com/
        - https://getbootstrap.com/docs/4.0/components/modal/
-->

<!-- the first few divs are styles from Bootstrap-->
    <div class="w-100 p-3 well text-center">
        <div class="row">
            <div class="col md-12">
                <!-- creates a header along with a bootstrap style button that is green to add customer and link a modal to it-->
                <div>
                    <h2>
                        <button align="left" type="button" class="btn btn-info btn-md" style="float:left" data-toggle="modal" data-target="#searchcustomermodal">Search Customer</button>
                        <form action="{{ url_for('customers') }}" method="post"><button type="submit" align="left" type="button" class="btn btn-warning btn-md" style="float:left">Clear Search</button></form>
                        Customers
                        <button align="right" type="button" class="btn btn-success btn-md" style="float:right" data-toggle="modal" data-target="#addcustomermodal">Add Customer</button>
                        <button align="right" type="button" class="btn btn-info btn-md" style="float:right" data-toggle="modal" data-target="#tableinformationmodal">Table Information</button>
                    </h2>
                </div>
                <table class="table table-hover table-dark" data-toggle="table" data-sort-name="Customer ID">

                    <!-- table head to display what is going into the table-->
                    <thead>
                        <tr>
                            <th scope="col" data-sortable="true" data-field="Customer ID">Customer ID</th>
                            <th scope="col" data-sortable="true">First Name</th>
                            <th scope="col" data-sortable="true">Last Name</th>
                            <th scope="col" data-sortable="true">Phone Number</th>
                            <th scope="col" data-sortable="true">Email</th>
                            <th scope="col" data-sortable="true">Address</th>
                            <th scope="col" data-sortable="true">Apt #</th>
                            <th scope="col" data-sortable="true">City</th>
                            <th scope="col" data-sortable="true">State</th>
                            <th scope="col" data-sortable="true">Zip</th>
                            <th scope="col" data-sortable="true">Birthday</th>
                            <th scope="col">Edit / Delete</th>
                        </tr>
                    </thead>

                    <!-- using Jinja and HTML to dynamically populated with the customer entities-->
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.customer_id }}</td>
                            <td>{{ customer.first_name }}</td>
                            <td>{{ customer.last_name }}</td>
                            <td>{{ customer.phone_number }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.address }}</td>
                            {% if customer.apt_number is not none %}
                                <td>{{ customer.apt_number }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ customer.city }}</td>
                            <td>{{ customer.state }}</td>
                            <td>{{ customer.zip }}</td>
                            {% if customer.birthday is not none %}
                                <td>{{ customer.birthday }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>
                                <!-- creates a warning style button that will be used to bring up a modal to edit the customer -->
                                <a href="/update_customers/{{customer.customer_id}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editcustomermodal{{customer.customer_id}}" >Edit Customer</a>
                                <!-- creates a danger style button that will be used to bring up a modal to delete customer -->
                                <a href="/delete_customers/{{customer.customer_id}}" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletecustomermodal{{customer.customer_id}}" >Delete Customer</a>
                            </td>
                        </tr>

                        <!-- modal to edit customers that is from https://getbootstrap.com/docs/4.0/components/modal/-->
                        <!-- The modal id is editcustomer in order to match the data-target in the edit customer button-->
                        <div class="modal fade" id="editcustomermodal{{customer.customer_id}}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h2 class="modal-title" id="editcustomerlabael" style="color:black;">Edit Customer</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>

                                <!-- this is the form part of the modal that captures that will populate the form with the existing data and then allow the user to save the data-->
                                <form action="{{ url_for('update_customer') }}" method="POST">
                                    <div class="modal-body" style="color:black">
                                        <div class="form-group">
                                            <p align="left"><b>When updating a Customer, Apt# and Birthday are nullable. Email and Phone Number must be unique.</b></p>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" id="cid" name="cid" value="{{customer.customer_id}}">
                                        </div>
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" pattern="[a-zA-Z\s]+" class="form-control" id=fname name="fname" required="1" maxlength="35" value="{{customer.first_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" pattern="[a-zA-Z\s]+" class="form-control" id=lname name="lname" required="1" maxlength="35" value="{{customer.last_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="text" class="form-control" id="phone" name="phone" pattern="[0-9]+" required="1" minlength="10" maxlength="10" value="{{customer.phone_number}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" id="email" name="email" required="1"  maxlength="50" value="{{customer.email}}">
                                        </div>
                                        <div class="form-group">
                                            <label>address</label>
                                            <input type="text" class="form-control" id="address" name="address" required="1"  maxlength="70" value="{{customer.address}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Apt #</label>
                                            <input type="text" class="form-control" id=apt name="apt" maxlength="20" placeholder="1112"value="{{customer.apt_number}}">
                                        </div>
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control" id="city" name="city" pattern="[a-zA-Z\s]+" required="1"  maxlength="50" value="{{customer.city}}">
                                        </div>
                                        <div class="form-group">
                                            <label>State</label>
                                            <input type="text" class="form-control" id="state" name="state" pattern="[a-zA-Z]+" required="1" minlength="2" maxlength="2" value="{{customer.state}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Zip</label>
                                            <input class="form-control" id="zip" name="zip" type="text" pattern="[0-9]+" minlength="5" maxlength="5" value="{{customer.zip}}" required="1">
                                        </div>
                                        <div class="form-group">
                                            <label>Birthday</label>
                                            <input class="form-control" type="date" id="birthday" name="birthday" value="{{customer.birthday}}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" name="editcustomerdata" class="btn btn-warning">Save Customer Data</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>

                        <!-- modal to edit customers that is from https://getbootstrap.com/docs/4.0/components/modal/-->
                        <!-- The modal id is deletecustomer in order to match the data-target in the delete customer button-->
                        <div class="modal fade" id="deletecustomermodal{{customer.customer_id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <!-- alerts the customer that there are about to delete the user-->
                                <h2 class="modal-title" id="deletecustomerlabael" style="color:black;">ARE YOU SURE YOU WANT TO DELETE CUSTOMER</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>

                                <!-- this is the form part of the modal that captures the customer_id and sends it to the route delete_customer-->
                                <form action="{{ url_for('delete_customer') }}" method="POST">
                                    <div class="modal-body" style="color:black">
                                        <div class="form-group">
                                            <input type="hidden" id="cid" name="cid" value="{{customer.customer_id}}">
                                        </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" name="editcustomerdata" class="btn btn-danger">DELETE CUSTOMER</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal to add customer that is from https://getbootstrap.com/docs/4.0/components/modal/-->
    <!-- The modal id is addcustomer in order to match the data-target in the add customer button-->
    <div class="modal fade" id="addcustomermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel" style="color:black;">Add Customer</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <!-- The modal id is addcustomer in order to match the data-target in the addcustomer button-->
            <!-- the mandatory fields in the database are required and the data is captured and routed to add_customer -->
            <form action="{{ url_for('add_customer') }}" method="POST">
                <div class="modal-body" style="color:black">
                    <div class="form-group">
                        <p align="left"><b>When creating a Customer, Apt# and Birthday are nullable. Email and Phone Number must be unique.</b></p>
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" pattern="[a-zA-Z\s]+" class="form-control" id=fname name="fname" required="1" maxlength="35" placeholder="John" >
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" pattern="[a-zA-Z\s]+" class="form-control" id=lname name="lname" required="1" maxlength="35" placeholder="Doe">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" id="phone" name="phone" pattern="[0-9]+" required="1" minlength="10" maxlength="10" placeholder="1231231234">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" id="email" name="email" required="1"  maxlength="50" placeholder="john@example.com">
                    </div>
                    <div class="form-group">
                        <label>address</label>
                        <input type="text" class="form-control" id="address" name="address" required="1"  maxlength="70" placeholder="123 Example Ave">
                    </div>
                    <div class="form-group">
                        <label>Apt #</label>
                        <input type="text" class="form-control" id=apt name="apt" maxlength="20" placeholder="1112">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" id="city" name="city" pattern="[a-zA-Z\s]+" required="1"  maxlength="50" placeholder="Example City">
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" class="form-control" id="state" name="state" pattern="[a-zA-Z]+" required="1" minlength="2" maxlength="2" placeholder="NY">
                    </div>
                    <div class="form-group">
                        <label>Zip</label>
                        <input class="form-control" id="zip" name="zip" type="text" pattern="[0-9]+" minlength="5" maxlength="5" placeholder="11111" required="1">
                    </div>
                    <div class="form-group">
                        <label>Birthday</label>
                        <input class="form-control" type="date" id="birthday" name="birthday">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="addcustomerdata" class="btn btn-success">Save Customer Data</button>
                </div>
            </form>
        </div>
      </div>
    </div>

    <!-- Modal to add invoice that is from https://getbootstrap.com/docs/4.0/components/modal/-->
    <!-- The modal id is addinvoice in order to match the data-target in the add invoice button-->
    <div class="modal fade" id="tableinformationmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel" style="color:black;">Customers Table Information</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <!-- The modal id is addinvoice in order to match the data-target in the addinvoice button-->
            <!-- the mandatory fields in the database are required and the data is captured and routed to add_invoice -->
            <form action="" method="POST">
                <div class="modal-body" style="color:black">
                    <div class="form-group">
                        <p align="left"><b>This table is used for records of Customers.</b></p>
                    </div>
                    <div class="form-group">
                        <p align="left"><b>When creating or updating a Customer, Apt# and Birthday are nullable. Email and Phone Number must be unique.</b></p>
                    </div>
                    <div class="form-group">
                        <p align="left"><b>At a minimum, one field must be entered for a search to work. The search works as an "AND" operation for all fields that have inputs.</b></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
      </div>
    </div>

    <!-- Modal to add customer that is from https://getbootstrap.com/docs/4.0/components/modal/-->
    <!-- The modal id is searchcustomer in order to match the data-target in the add customer button-->
    <div class="modal fade" id="searchcustomermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel" style="color:black;">Search Customer</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <!-- The modal id is searchcustomer in order to match the data-target in the search customer button-->
            <!-- the mandatory fields in the database are required and the data is captured and routed to add_customer -->
            <form action="{{ url_for('search_customer') }}" method="POST">
                <div class="modal-body" style="color:black">
                    <div class="form-group">
                        <p align="left"><b>At a minimum, one field must be entered for a search to work. The search works as an "AND" operation for all fields that have inputs.</b></p>
                    </div>
                    <div class="form-group">
                        <label>Customer ID</label>
                        <input type="number" class="form-control" pattern="[0-9]+" maxlength="35" id="customer_id" name="customer_id">
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" pattern="[a-zA-Z\s]+" maxlength="35" id="fname" name="fname">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" pattern="[a-zA-Z\s]+" id="lname" name="lname">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" pattern="[0-9]+" minlength="10" maxlength="10" id="phone" name="phone">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" maxlength="50" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" maxlength="70" id="address" name="address">
                    </div>
                    <div class="form-group">
                        <label>Apt</label>
                        <input type="text" class="form-control" maxlength="20" id="apt" name="apt">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" pattern="[a-zA-Z\s]+" maxlength="50" id="city" name="city">
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" class="form-control" pattern="[a-zA-Z]+" minlength="2" maxlength="2" id="state" name="state">
                    </div>
                    <div class="form-group">
                        <label>Zip</label>
                        <input type="number" class="form-control" pattern="[0-9]+" minlength="5" maxlength="5" id="zip" name="zip">
                    </div>
                    <div class="form-group">
                        <label>Birthday</label>
                        <input type="date" class="form-control" id="birthday" name="birthday">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="addcustomerdata" class="btn btn-success">Search Customer</button>
                </div>
            </form>
        </div>
      </div>
    </div>

{% endblock %}
